/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Yeseva One', serif;
*/

:root {
    --titles-color: #564F6F;
    --primary-color: #23A8CE;
    --secondary-color: #A589B4;
    --ternary-color: #6DAE73;
    --bkg-color: #F5F5F5;
    --headerbkg-color: #F4F0ED;
}

.bg-body-tertiary {
    background-color: #F4F0ED !important;
}

body {
    background-color: #F8FDFF;
    font-family: 'Josefin Sans', sans-serif; 
    margin: 0;
    padding: 0;
    color: var(--titles-color);
}

header {
    background-color: var(--headerbkg-color);
    height: fit-content;
}

h1, h3 {
    font-family: 'Yeseva One', serif;
}

.active {
    color: var(--primary-color) !important;
}

main p {
    text-wrap: pretty;  
}

footer article a {
    text-decoration: none;
    color: var(--titles-color);
    transition:all 0.3s ease-in-out;
    display: inline-block
}

footer article a:hover {
    scale: 1.1;
}